.subHeader {
  background-color: #6B2E33;
  color: #fff;
  padding: 50px 180px;
}

.subHeader h1 {
  font-size: 48px
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 100px 180px
}

.vinhos {
  text-align: center;
}

.subtitulo {
  margin-bottom: 2rem;
  color: #555;
}

.vinho-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.vinho-card {
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  border: gray 1px solid;
}

.vinho-card img {
  height: 250px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.vinho-card h3 {
  font-size: 1.1rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.vinho-card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.8rem;
}

.vinho-card button {
  background-color: #3e0d1b;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.social img {
  width: 24px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.direitos {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}