@media (max-width: 1366px) {
    .background {
        height: 360px;
    }   
    
    .texto h2 {
        margin-bottom: 40px;
        width: 28rem;
        font-size: 2.6rem;
    }
    
    .texto h5 {
        width: 20rem;
        font-size: 0.8rem;
        margin-top: 2.4rem;
    }
    
    .imagem .fundo_imagem {
        height:400px;
        width: 100px;
    }
    
    .principal img {
        width: 300px;
    }
    
    
    .conteudo_home h3 {
        margin-top: -7vh;
        font-size: 2.7rem;
    }
    
    .conteudo_home ul {
        margin-top: 5vh;
    }
    
    .conteudo_home img {
        width: 15rem; 
    }
}