@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

.content { 
  padding: 0px 250px 0px;
  min-height: calc(100vh - 70px); 
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 250px;
  background-color: #4B1D27 ;
}

.header #selected {
  color: #E8C547;
}

.logo a {
  text-decoration: none;
  color: #E8C547;
  font-size: 1.8rem;
  font-weight: bold;
}

header .main-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

header .main-nav .nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s;
}

header .main-nav .nav-list li a:hover {
  color: #E8C547;
}

/* Footer */
 
.footer {
    background-color: #4C1C24;
    padding: 25px 0px 20px;
    color: #EDEDED;
}
  
  .copyright {
    text-align: center;
    font-size: 0.9rem;
    color: #EDEDED;
}

.footer {
  background-color: #4C1C24;
  padding: 50px 20px 30px;
  color: #EDEDED;
}

.footer-logo {
  color: #E8C547;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 40px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}

.footer-section h2 {
  color: #fff;
  font-size: 1.2rem;
}

.footer-section span {
  font-size: 0.95rem;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #EDEDED;
  border-radius: 10px;
  margin: 5px 0;
}

.social-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.social-list img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.social-list a:hover img {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(84%) sepia(32%) saturate(454%) hue-rotate(8deg) brightness(101%) contrast(96%);
}

footer .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

footer .nav-list a {
  text-decoration: none;
  color: #EDEDED;
  font-weight: 500;
  transition: color 0.3s;
}

footer .nav-list a:hover {
  color: #E8C547;
}

.copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #EDEDED;
}